<div class="row main_container">
	
	<h1 class="titulo">¡ENCUENTRA TU DESTINO!</h1>
	
	 <form #destinoForm="ngForm" (ngSubmit)="buscar_destino()" class="col-md-4 col-md-offset-4 form-horizontal busqueda" role="form" novalidate>

			 <div class="form-group control-group">
					                    <div class="col-md-12 controls">
					                      <input #nombre="ngModel" [(ngModel)]="busqueda.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre, provincia o pais" 
					                      required>
					                      <span style="color: red" *ngIf="!nombre.valid && nombre.touched">
					                        El nombre, pais o provincia es obligatorio
					                      </span>
					                    </div>
		     </div>

			<div class="form-group last">
			    <div class="col-md-12">
			        <input type="submit" class="btn btn-primary btn-block" value="Buscar">
			    </div>
			</div>
              
	</form>
	
	<table class="table table-striped">

    <thead>
      <tr>
        <th>Nombre</th>
        <th>Pais</th>
        <th>Provincia</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let dest of destinos">

      <tr>
        <td>{{dest.nombre}}</td>
        <td>{{dest.provincia}}</td>
        <td>{{dest.pais}}</td>
        <td>
        	<button type="button" class="btn btn-success btn-sm" (click)="ver_paquetes(dest)">Ver Paquetes</button>
        </td>
      </tr>
	</ng-container>

    </tbody>
  </table>
  <p *ngIf="info" style="color: red" >
				{{info}}	                  
  </p>
  <ul class="pager">
  	<li *ngIf="ant" class="previous" style="cursor:pointer" (click)="pagina_anterior()"><a >Anterios</a></li>
  	<li *ngIf="sig" class="next" style="cursor:pointer" (click)="pagina_siguiente()" ><a>Siguiente</a></li>
  </ul>
</div>

<div class="row main_container">

  <h1 class="titulo">Paquetes</h1>
  <h2 class="titulo">{{destino_paquetes.nombre}}, {{destino_paquetes.provincia}}, {{destino_paquetes.pais}}</h2>
  

  <table class="table table-striped">

    <thead>
      <tr>
        <th>Fecha de salida</th>
        <th>Fecha de regreso</th>
        <th>Costo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let paq of paquetes">

      <tr>
        <td>{{paq.fecha_salida}}</td>
        <td>{{paq.fecha_regreso}}</td>
        <td>${{paq.costo}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" (click)="ver_paquete(destino_paquetes,paq)">Ver</button>
        </td>
      </tr>
  </ng-container>

    </tbody>
  </table>
  <p *ngIf="info" style="color: red" >
        {{info}}                    
  </p>
  <ul class="pager">
    <li *ngIf="ant" class="previous" style="cursor:pointer" (click)="pagina_anterior_paq()"><a >Anterios</a></li>
    <li *ngIf="sig" class="next" style="cursor:pointer" (click)="pagina_siguiente_paq()" ><a>Siguiente</a></li>
  </ul>
</div>